.checkout-form{
    margin: 5rem auto;
    width: 80%;
}

.checkout-button{
    font-family: "Oswald", sans-serif !important;
    display: block !important;
    margin: 2rem auto;
    padding: 10px;
    font-size: 1.25rem !important;
}

.warningText{
    font-family: "Oswald", sans-serif !important;
    font-size: 2rem !important;
    color: rgb(255, 0, 0);
}