.itemDetailContainer {
  position: relative;
  margin-top: 30px;
}

.backButtonContainer {
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 10;
}

.backButton {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
}

.backLink{
  color: black;
}

.backLink:hover{
  color: rgb(107, 107, 107);
}
