.card-img-top{
    width: 100% !important;
    object-fit: cover !important;
}

.card{
    padding: 0rem !important;
    font-family: 'Oswald', sans-serif;
}

.card-title{
    font-size: 1.25rem !important;
}

.itemBtn{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    font-size: 1.15rem !important;
}

.itemStock{
    font-weight: bold !important;
}