.card-img-top {
  width: 100% !important;
  object-fit: cover !important;
  height: 22.5rem;
}

.card {
  padding: 0rem !important;
  font-family: "Oswald", sans-serif;
}

.card-title {
  font-size: 1.25rem !important;
}

.itemBtn {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  font-size: 1.15rem !important;
  width: 100%;
}

.itemStock {
  font-weight: bold !important;
}

.itemLink {
  color: white;
  text-decoration: none;
}

.itemLink:hover {
  color: white;
}
