@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oswald:wght@200&display=swap');


/* Clases para NavBar */

.nav{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

.navLogo{
    width: 3rem;
    height: auto;
    margin: 0 1rem;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.navbar-nav{
    gap: 1rem;
}

.nav-link{
    color: rgba(216, 216, 216, 0.9) !important;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.nav-link:hover{
    color: rgb(240, 240, 240) !important;
}

.form-control:focus{
    border-color: rgb(223, 223, 223);
    box-shadow: none;
}

.navbar-collapse{
    gap: 2rem;
    padding: 0.5rem;
}


@media (min-width: 992px) { 
    .navbar-nav{
        gap: 5rem;
        margin: 0 auto;
        align-items: center;
    }  
 }