.continueBrowsing-container {
  width: 80%;
  margin: 5rem auto;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.continueBrowsing-title {
  font-size: 3rem;
  margin: 2rem;
  font-weight: 200;
}

.continueBrowsing-img {
  width: 80%;
  border-radius: 20px;
}

.continueBrowsing-subtitle {
  font-size: 3rem;
  margin: 1rem;
}

@media (min-width: 992px) {
  .continueBrowsing-img {
    width: none;
  }
}
