.cartItem-img{
  width: 100% !important;
  object-fit: contain !important;
  height: 15rem;
}

.cartItem-container {
  padding: 1.5rem;
  position: relative;
}

.cartItem-detail {
  text-align: justify;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
